html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100vh;
  font-size: 16px;
  font-weight: 200;
  /* background: #3e4962; */
  /* color: #7dced0; */
}

.topcon {
  vertical-align: middle;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
  padding: 2rem 2rem;
  margin-left: 32rem;
  margin-right: 32rem;
  background-color: white;
  color: black;
  /* background-color: #3e4962; */
}

/* .containerX {
  position: relative;
  width: auto;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  border: 1px solid #eeeeee;
  padding: 2rem 2rem;
  box-shadow: 0 0 8px 2px #ccc;
} */

.logo {
  display: block;
  margin: 0 auto;
  width: 100px;
  padding-top: 3rem;
  padding-bottom: 0;
}

h1 {
  text-align: center;
  padding-bottom: 15px;
  /* font-weight: 200; */
  /* font-size: 24px; */
  /* text-transform: uppercase; */
  /* letter-spacing: 10px; */
}

.foot {
  text-align: center;
  font-size: medium;
  padding-top: 15px;
  padding-bottom: 0;
}

.links {
  /* color: #7dced0; */
  text-decoration: solid;
  font-size: large;
  display: inline;
  padding-bottom: 10px;
  color: rgba(59, 130, 246);
}

.formx-top {
  padding: 16px;
  font-size: medium;
  display: block;
  margin: 0 auto;
  width: 80%;
  color: black;
  background-color: white;
  /* border-radius: 4px 4px 0 0; */
  /* background: #7dced0; */
  /* border: 1px solid black; */
  /* color: #3e4962; */
}

.formx-mid {
  padding: 16px;
  font-size: medium;
  display: inherit;
  margin: 0 auto;
  width: 80%;
  color: black;
  background-color: white;
  /* border: 1px solid black; */
  /* background: #7dced0; */
  /* color: #3e4962; */
}

.formx-end {
  padding: 16px;
  font-size: medium;
  display: block;
  margin: auto;
  margin-bottom: 12px;
  width: 80%;
  color: black;
  background-color: white;
  /* border-radius: 0 0 4px 4px; */
  /* border: 1px solid black; */
  /* background: #7dced0; */
  /* color: #3e4962; */
}

.formx-solo {
  padding: 16px;
  font-size: medium;
  border-radius: 4px 4px 4px 4px;
  display: block;
  margin: auto;
  margin-bottom: 12px;
  width: 80%;
  color: black;
  background-color: white;
  /* background: #7dced0; */
  /* color: #3e4962; */
  /* border: 1px solid black; */
}

/* .btn {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: medium;
  padding: 10px;
  color: #3e4962;
  background-color: white;
  border-radius: 5;
  border: 1px solid black;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  width: 80%;
  font-weight: 700;
  /* border-radius: 0px; */
/* background: #7dced0; */
/* box-shadow: 0 8px 15px 0 #3e4962; */
/* text-transform: uppercase; */
/* letter-spacing: 1.05px; */
/* } */

/* mobile */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .topcon {
    vertical-align: middle;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: white;
    color: black;
  }
}

/* Ipad */
@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  .topcon {
    vertical-align: middle;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: white;
    color: black;
  }
}

/* Ipad-pro */
@media only screen and (max-width: 1250px) {
  /* For mobile phones: */
  .topcon {
    vertical-align: middle;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: white;
    color: black;
  }
}
